{% extends "templates/flash.html" %}  <!--继承闪现模板-->
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}登陆{% endblock %}
{% block body %}
{{super()}}
<body style="background-image:url('{{url_for('static',filename='cf.jpg')}}')">
<div class="col-xs-12 col-md-3 col-md-offset-4" style="margin:0 padding:0">
    {{wtf.quick_form(form)}}  <!--渲染表单-->
    <button class="btn btn-info" style="float:left" onclick="window.location.href='{{url_for('auth.register')}}'">注册</button>
    <button class="btn btn-danger" style="float:right" onclick="window.location.href='{{url_for('auth.forget_password')}}'">忘记密码</button>
</div>
</body>
{% endblock %}
<!-- col-md-offset-4-->