{% extends "templates/flash.html" %}
{% block title %}题目{% endblock %}
{% block body %}
{{super()}}
<body style="background:none">
<form method="post" action="{{url_for('main.different_theme',_external=True)}}">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <table class="table">
        <thead>
            <th>姓名</th>
            <th>课题</th>
        </thead>
        <tbody>                                  <!--可以用嵌套循环实现！-->
            {% for i in students %}
                <tr>
                    <td>
                        <p>{{i.name}}</p>
                    </td>
                    <td>
                        <input name="{{i.id}}" required> <!--通过属性来作为特殊值命名，方便命名                   </td>-->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">完成</button>
</form>
</body>
{% endblock %}