{% extends "templates/flash.html" %}
{% block body %}
{{super()}}
<body style="background:none">
<p>累计签到次数：{{times}}</p>
<table class="table">
    <thead>
        <tr>
            <th>姓名</th>
            <th>签到时间</th>
        </tr>
    </thead>
    <tbody>                                  <!--可以用嵌套循环实现！-->
        {% for i in info %}
            <tr>
                <td>
                    {{i.student.name}}
                </td>
                <td>
                    {{i.sign_time}}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
{% endblock %}