{% extends "templates/flash.html" %}<!--使用扩展来继承的话，直接用就可以了，不用再引用样式-->
{% block title %}公告{% endblock %}
{% block body %}
{{super()}}
<body style="background:none">
<div>
    <table class="table">
        <thead>
            <th>公告</th>
            <th>发布时间</th>
        </thead>
        <tbody>
           {% for i in inform %}
                <tr>
                    <td>
                        <a href="{{i.url}}">{{i.title}}</a>
                    </td>
                    <td>
                        <p>{{i.time}}</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <p>我的任务书：<a href="{{file.mission_url}}">{% if file.mission_name %}{{file.mission_name}}{% else %}未上传{% endif %}</a></p>
    </div>
</div>
</body>
{% endblock %}