{% extends "templates/flash.html" %}<!--使用扩展来继承的话，直接用就可以了，不用再引用样式-->
{% block title %}学生的问题{% endblock %}
{% block content %}
{{super()}}
<div>
    <ul>
        {% for i in question %}
            <li>
                <div class="panel-success">
                    <div class="panel-body">
                        <p>{{i.student.name}}&nbsp;<{{i.time}}>:</p>
                        {{i.content | safe}}
                    </div>
                    <div class="panel-footer">
                       {% for j in i.replies %}
                            <p>{{j.person}} &nbsp;<{{j.time}}></p>
                            {{j.content | safe}}
                        {% endfor %}
                        <button onclick="window.location.href='{{url_for('main.reply',id=i.id)}}'">回复</button>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}