{% extends "templates/flash.html" %}<!--使用扩展来继承的话，直接用就可以了，不用再引用样式-->
{% block title %}学生的问题{% endblock %}
{% block body %}
{{super()}}
<body style="background:none">
<div>
    <ul>
        {% for i in lis %} <!--循环访问每一个问题-->
            <li>
                <div class="panel-success">
                    <div class="panel-body">
                        <p>{{i.student.name}}&nbsp;<{{i.time}}>:</p>
                        <button style="float:right" onclick="window.location.href='{{url_for('main.delete_question',id=i.id)}}'">删除问题</button>
                        {{i.content | safe}}
                    </div>
                    <div class="panel-footer">
                        {% for j in i.replies %} <!-- 在每一个问题之中，循环访问每个问题的回复的属性-->
                            <p>{{j.person}} &nbsp;<{{j.time}}></p>
                            {{j.content | safe}}
                        {% endfor %}
                        <button onclick="window.location.href='{{url_for('main.reply',id=i.id)}}'">回复</button>
                    </div> <!--传回id 标记回答的是哪个问题-->
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
{% endblock %}