{% extends "templates/flash.html" %}
{% block body %}
{{super()}}
<body style="background:none">
<p>我的签到码：{{number}}</p>
<p>已签到人数：{{p}}/{{contain}}</p>
<p>状态：<a href="{{url_for('main.signed')}}">刷新</a></p>
<table class="table">
    <thead>
        <tr>
            <th>学号</th>
            <th>姓名</th>
            <th>签到状态</th>
            <th>本门课设历史签到情况</th>
        </tr>
    </thead>
    <tbody>                                  <!--可以用嵌套循环实现！-->
        {% for i in students %}
            <tr>
                <td>
                    {{i.id}}
                </td>
                <td>
                    {{i.name}}
                </td>
                <td>             <!--构造动态路由以区分每个选择按键穿的参数不同-->
                    {% if i.is_sign==1 %}已签到{% else %}未签到{% endif %}
                </td>
                <td>
                    <button class="btn-default" onclick="window.location.href='{{url_for('main.history_sign',id=i.id)}}'">查看</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
{% endblock %}