{% extends "templates/flash.html" %}<!--使用扩展来继承的话，直接用就可以了，不用再引用样式-->
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}我的课题简介{% endblock %}
{% block content %}
{{super()}}
<div class="container" style="width:100%">
    <h2>{{theme}}</h2>
    <p style="float:left">简介：</p> {{introduce | safe}}   <!--在按钮中添加动作链接-->
    <p>课程容量：{{contain}}</p>
    <p>教师选择时间：{{teacher_time}}</p>
    <p>最终确定时间：{{final_time}}</p>
    <button onclick="window.location.href='{{url_for('main.change')}}'">修改</button>
</div>
{% endblock %}