{% extends "templates/flash.html" %}
{% block content %}
{{super()}}
<h4>已选人数：{{selected}}&nbsp;课程容量：{{contain}}</h4>
<h4>请于{{teacher_time}}进行对学生的筛选，确保已选人数小于等于课程容量</h4>
<table class="table">
    <thead>
        <th>学号</th>
        <th>姓名</th>
        <th>操作</th>
    </thead>
    <tbody>                                  <!--可以用嵌套循环实现！-->
        {% for i in content %}
            <tr>
                <td>
                    {{i.id}}
                </td>
                <td>
                    {{i.name}}
                </td>
                <td>             <!--构造动态路由以区分每个选择按键穿的参数不同-->
                    <button class="btn-default" onclick="window.location.href='{{url_for('main.deletes',id=i.id)}}'">删除</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}