{% extends "templates/flash.html" %}
{% block body %}
{{super()}}
<body style="background:none">
<h4>已选人数：{{selected}}&nbsp;课程容量：{{current_user.course.contain}}</h4>
<h4>请于{{current_user.teacher_time}}进行对学生的筛选，确保已选人数小于等于课程容量</h4>
<table class="table">
    <thead>
        <th>学号</th>
        <th>姓名</th>
        <th>题目</th>
        <th>说明书</th>
        <th>操作</th>
    </thead>
    <tbody>                                  <!--可以用嵌套循环实现！-->
        {% for i in current_user.students %}
            <tr>
                <td>
                    {{i.id}}
                </td>
                <td>
                    {{i.name}}
                </td>
                <td>
                    {{i.personal_theme}}
                </td>
                <td>
                <a href="{{i.file.file_url}}">{% if i.file.file_name %}{{i.file.file_name}}{% else %}未上传{% endif %}</a>
                </td>
                <td>             <!--构造动态路由以区分每个选择按键穿的参数不同-->
                    <button class="btn-default" onclick="window.location.href='{{url_for('main.deletes',id=i.id)}}'">删除</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
<button class="btn-default" onclick="window.location.href='{{url_for('main.different_theme')}}'">为学生设置不同题目</button>
{% endblock %}