{% extends "templates/flash.html" %}<!--使用扩展来继承的话，直接用就可以了，不用再引用样式-->
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}上传公告{% endblock %}
{% block content %}
{{super()}}
<form method="post" enctype="multipart/form-data"> <!--凡是文件上传都要设置这个属性-->
    {{form.hidden_tag()}}
    {{form.inform.label}}{{form.inform()}}
    {% for error in form.inform.errors %}
        <span style="color:red">{{error}}</span>
    {% endfor %}
    {{form.submit()}}
</form>
<a href="{{url_for('main.my_informs')}}">我的公告X</a>  <!--最新上传的url,先放在这儿，后期文件上传借鉴-->
{% endblock %}